/* Columnas y filas general */
.fila {
  border-bottom: solid 2px white;
  
}

.logo {
  margin: 5px;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.pilotoCara {
  background-size: cover;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}

.pilotoNombre {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 750;
}

.puntuacion {
  font-weight: 700;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  text-align: center;
  padding-right: 1rem;
  font-size: 1.3rem;
}
.posicion {
  text-align: center;
}





/* Colores de cada equipo */
.mercedesPiloto {
  background-color: var(--mercedes-bg-color);
  color: black;
}

.mcLarenPiloto {
  background-color: var(--mcLaren-bg-color);
}

.redBullPiloto {
  background-color: var(--redBull-bg-color);
}

.ferrariPiloto {
  background-color: var(--ferrari-bg-color);
}

.williamsPiloto {
  background-color: var(--williams-bg-color);
}

.alpinePiloto {
  background-color: var(--alpine-bg-color);
}

.astonMartinPiloto {
  background-color: var(--astonMartin-bg-color);
}

.visaCashAppRBPiloto {
  background-color: var(--visaCashAppRB-bg-color);
}

.haasPiloto {
  background-color: var(--haas-bg-color);
  color: black;
}

.kickSauberPiloto {
  background-color: var(--kickSauber-bg-color);
}

.nullPiloto {
  background-color: var(--null-bg-color);
  color: black;
}

/* Logo de los equipos */
.mercedesLogo {
  background-image: var(--mercedes-logo);
}

.mcLarenLogo {
  background-image: var(--mcLaren-logo);
}

.redBullLogo {
  background-image: var(--redBull-logo);
}

.ferrariLogo {
  background-image: var(--ferrari-logo);
}

.williamsLogo {
  background-image: var(--williams-logo);
}

.alpineLogo {
  background-image: var(--alpine-logo);
}

.astonMartinLogo {
  background-image: var(--astonMartin-logo);
}

.visaCashAppRBLogo {
  background-image: var(--visaCashAppRB-logo);
}

.haasLogo {
  background-image: var(--haas-logo);
}

.kickSauberLogo {
  background-image: var(--kickSauber-logo);
}

.nullLogo::after {
  content: "fuck";
}

/* Foto de cada piloto */
.pilotoVerstappen {
  background-image: var(--verstappen-foto);
}

.pilotoCastan {
  background-image: var(--verstappen-foto);
}

.pilotoEspada {
  background-image: var(--verstappen-foto);
}

.pilotoDavo {
  background-image: var(--verstappen-foto);
}

.pilotoLeclerc {
  background-image: var(--leclerc-foto);
}

.pilotoHamilton {
  background-image: var(--hamilton-foto);
}

.pilotoAlonso {
  background-image: var(--alonso-foto);
}

.pilotoSargent {
  background-image: var(--sargent-foto);
}

.pilotoPiastri {
  background-image: var(--piastri-foto);
}

.pilotoBottas {
  background-image: var(--bottas-foto);
}

.pilotoSainz {
  background-image: var(--sainz-foto);
}

.pilotoGasly {
  background-image: var(--gasly-foto);
}

.pilotoTsunoda {
  background-image: var(--tsunoda-foto);
}

.pilotoZhou {
  background-image: var(--zhou-foto);
}

.pilotoMagnussen {
  background-image: var(--magnussen-foto);
}

.pilotoRicciardo {
  background-image: var(--ricciardo-foto);
}

.pilotoPerez {
  background-image: var(--perez-foto);
}

.pilotoAlbon {
  background-image: var(--albon-foto);
}

.pilotoOcon {
  background-image: var(--ocon-foto);
}

.pilotoStroll {
  background-image: var(--stroll-foto);
}

.pilotoNorris {
  background-image: var(--norris-foto);
}

.pilotoRussell {
  background-image: var(--russell-foto);
}

.pilotoHulkenberg {
  background-image: var(--hulkenberg-foto);
}